

<!-- ------------------------------------------------------------ -->
<!-- Binding -->
<!-- ------------------------------------------------------------ -->
<h1>Binding</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">


      <ol>
        <li>Two-Way-Binding ===>  add a input field which updates a property ('username') </li>
        <li>String Interpolation ===> output the username property</li>
        <li>if username string is NOT empty, button is enable</li>
        <li>if button is clicked, the username string should set to empty, and button is disabled</li>
      </ol>
      
      <hr>
      <label>Username</label>

      <input type="text" class="form-control" [(ngModel)]="username">
      <p>username = {{username}}</p>
      
      <button class = "btn btn-primary"  
      [disabled]="username ===  ''" 
      (click)="username = '' "
      > Reset user </button>

    </div>

  </div>
</div>


<hr>
<hr>

<!-- ------------------------------------------------------------ -->
<!-- Directives -->
<!-- ------------------------------------------------------------ -->

<h1>Directives</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-6">


      <ol>
        <li>Add button - "Display Details" </li>
        <li>Add a paragraph with any content</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph</li>
        <li>ngStyle / ngClass- Starting at the 5th item, give all future items a blue background </li>
      </ol>
      
      <hr>
     <button class="btn btn-primary" (click)="onToggleDisplay()">Display Details</button>
     <p *ngIf="showSecret">secret paragraph</p>

     <div *ngFor="let item of log ; let i = index"
     [ngStyle]="{backgroundColor:i >=4 ? 'blue' : 'red'}"
     [ngClass]="{'white-text':i>=4}">
       {{item}}
     </div>
    </div>

  </div>
</div>